
body {
  background-image: url("https://assets.rocketstock.com/uploads/Smoke-Tutorial-Featured-Image-1000x576.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}


@media all and (min-width: 480px) {

    .Login {
      padding: 250px 0;
      color: white;
      font-family: fantasy;
      font-size: xx-large ;
    }

    
 

    .Login button {
      font-size: 20px;
      padding: 5px 30px;
      margin: 2px;
      display: inline-block;
      transition-duration: 0.4s;
      background-color: rgb(0, 0, 0);
      color: whitesmoke;
    }

    
  }