
body {
  background-image: url("https://soundwave.com/img/hero11.jpg");
}


@media all and (min-width: 480px) {

    .Login {
      padding: 100px 0;
    }

    .Login input {
      margin: 0 ;
      max-width: 320px;
      font-weight: unset;
      font-size: 20px;
      color: black;
      display: inline-block;
      text-align: center;
    }
    .Login label {
      margin: 0 ;
      max-width: 320px;
      font-weight: unset;
      font-size: 20px;
      color: black;
      display: inline-block;
      text-align: center;
      width: 100px;
    }

    .Login h1 {
      margin: 0 auto;
      max-width: 320px;
      color: black;
    }

    .Login button {
      font-size: 16px;
      padding: 5px 30px;
      margin: 2px;
      display: inline-block;
    }
    
  }